.container{
    width: 100%;
    height: 100%;
    background-size: cover; 

    display: flex;
    flex-direction: row;
    background-color: white;
   
}
h2{
  color: #1D1A39 !important;
  padding-left: 20px;
  font-size: 20px;
  border-top-right-radius: 40px;
  background-color: #fff;
  width:300px;
}
.main1{
    direction: flex;
}
.side{
    border-radius: 20px;
    
    margin-top: 10px;
    background-color: #1e3f57;
    position: fixed;
    position: relative;
    width: 150%;
    height: 85vh;
    
    filter: brightness(1.3);
    font-family: 'Roboto', sans-serif;
    
}

.side a{

    color: white;
    padding: 10px;

    text-decoration: none;
    font-size: 20px;
    width: 40%;
    font-weight: bold;
    display: block;
}

.side a {
    --hover-bg: #306d99;
    --hover-text: #ffffff;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    background: var(--bg);
    transition: 0.2s;
    font-size: 15px;
    border-radius: 20px;
    padding-left: 60px;
  }
  
  .side a:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem white;
  }
  
  .side a:active {
    transform: translate(0);
    box-shadow: none;
  }

.side h1{
    padding-top: 30px;
    padding-left: 40px;
    width: 90%;
    height: 80px;
    background-color: #0b2a3f;
    border-radius: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.head-video{
    display: flex !important;
    width:100% !important;
}
.search{
    margin-top: 50px;
    margin-left:50px ;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
}
.form{
  flex-direction: row;
}
.search2{
  margin-top: 50px;
  margin-left:20px ;
  width: 200px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
}

.body1{
    position: relative;
    background-color: white;
    margin-left: 70px;
    border-radius: 20px;
    width: 140vh;
    height: 95vh;
}
.loader1 {
  margin-top: 100px;
  width: 100%;
  height: auto;
  perspective: 200px;
  z-index:9999 !important;
  position: absolute;

}


/* The dot */
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-left: -60px;
  border-radius: 100px;
  border: 40px outset #1e3f57;
  transform-origin: 50% 50%;
  transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  background-color: transparent;
  animation: dot1 1000ms cubic-bezier(.49,.06,.43,.85) infinite;
}

.dot:nth-child(2) {
  width: 140px;
  height: 140px;
  margin-top: -70px;
  margin-left: -70px;
  border-width: 30px;
  border-color: #447891;
  animation-name: dot2;
  animation-delay: 75ms;
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
  transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
}

.dot:nth-child(3) {
  width: 160px;
  height: 160px;
  margin-top: -80px;
  margin-left: -80px;
  border-width: 20px;
  border-color: #6bb2cd;
  animation-name: dot3;
  animation-delay: 150ms;
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
  transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 2s, visibility 2s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  


  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
@keyframes dot1 {
  0% {
    border-color: #1e3f57;
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }

  50% {
    border-color: #1e574f;
    transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
  }

  100% {
    border-color: #1e3f57;
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
}

@keyframes dot2 {
  0% {
    border-color: #447891;
    box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.2);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }

  50% {
    border-color: #449180;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
    transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
  }

  100% {
    border-color: #447891;
    box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.2);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
}

@keyframes dot3 {
  0% {
    border-color: #6bb2cd;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }

  50% {
    border-color: #6bcdb2;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
    transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
  }

  100% {
    border-color: #6bb2cd;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
}
.comic-button2 {
    width: 100px;
    height: 60px;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }
  
  .comic-button2:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button2:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  .comic-button2 a{
    text-decoration: none;
    color: white;
  }
  .comic-button2 a:hover{
    color: #ff5252;
  }
  .odd{
    margin-left: 120px !important;
  }
  input[type="file"] {
    display: none;
  }
  label{
    width: 150px;
    margin-top: 50px;
    margin-left: 300px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }
  
  label:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  label:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  label  a{
    text-decoration: none;
    color: white;
  }
  label a:hover{
    color: #ff5252;
  }
.comic-button1 {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }
  
  .comic-button1:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button1:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  .comic-button1 a{
    text-decoration: none;
    color: white;
  }
  .comic-button1 a:hover{
    color: #ff5252;
  }
  
  .comic-button3 {
    width: 100px;
    height: 40px;
    margin-left: 30%;;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    z-index: 3000 !important;
  }
  
  .comic-button3:hover {
    background-color: #fff !important;
    color: #ff5252 !important;
    border: 2px solid #ff5252 !important;
    box-shadow: 5px 5px 0px #ff5252 !important;
  }
  
  .comic-button3:active {
    background-color: #fcf414 !important;
    box-shadow: none !important ;
    transform: translateY(4px) !important ;
  }
  .comic-button3 a{
    text-decoration: none !important ;
    color: white !important;
  }
  .comic-button3 a:hover{
    color: #ff5252 !important;
  }
  .inner-video{
    margin-top: 50px;
    margin-left: 40px;
    width: 900px;
    height: 470px;
    border-radius: 20px;
    border: #1D1A39 2px solid;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 50px;
    overflow-y: auto;
  }
  .video1{
    margin-top: 30px;
    margin-left: 33px;
    width: 420px;
    height: 310px;
    border-radius: 20px;
    border: #1D1A39 2px solid;
    display: flex;
    justify-content: center;
    background-color: white;
  }

.video1 iframe{
    padding-top: 5px;
    border-radius: 20px;
    width: 390px;
    height: 300px;
}
.video{
  margin-left: 20%;
}

  .body1{
    border: #1D1A39 2px solid;
  }

  .inner-video::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
  }
  
  .inner-video::-webkit-scrollbar-thumb {
    background-color: #1D1A39; /* color of the thumb */
    border-radius: 10px; /* roundness of the thumb */
  }
  
  .inner-video::-webkit-scrollbar-track {
    background-color: transparent; /* color of the track */
  }
/* #1D1A39
 #451952
 #662549 
 #AE445A
 #F39F5A
 #E8BCB9 */